<!DOCTYPE html>
<html>

  <head>
    <title>ManHourCalculator</title>
    <base target="_self">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vue-loaders@3.3.0/dist/vue-loaders.css">
    <script src="https://cdn.jsdelivr.net/npm/vue-loaders@3.3.0/dist/vue-loaders.umd.js"></script>

    <?!= HtmlService.createHtmlOutputFromFile('src/style.css').getContent(); ?>
  </head>

  <body>

    <div id="app" v-cloak class="container">
      <div class="row mx-auto my-3">
        <div class="pe-xs-0 pe-sm-0 offset-1 col-10 offset-sm-1 col-sm-7 offset-md-1 col-md-7 offset-lg-2 col-lg-6 offset-xl-3 col-xl-4">
          <input type="text" v-model="title" class="form-control mb-1" placeholder="省略可: タイトル名を指定">
        </div>
        <div class="offset-1 col-10 offset-sm-0 col-sm-3 col-md-3 col-lg-2 col-xl-2">
          <button type="button" class="btn btn-primary col-12" @click="init">Calculate!!</button>
        </div>
      </div>
      <vue-loaders v-if="loading" name="ball-beat" color="royalblue" scale="1" class="d-block mx-auto text-center"></vue-loaders>
      <ul v-if="manHourData" class="list-unstyled text-center">
        <li v-for="(usage, category) in manHourData" class="d-inline-block px-2">
          <span class="badge" :class="`bg-${colors[category]}`">{{ category }}</span> {{ usage }}
        </li>
      </ul>
    </div>
    <script src="https://unpkg.com/@popperjs/core@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
  </body>

</html>

<script>
  var VueLoaders = window['VueLoaders'];
  Vue.use(VueLoaders);
  const app = new Vue({
    el: '#app',
    data: {
      loading: false,
      title: '',
      manHourData: null,
      colors: null
    },
    methods: {
      init: function() {
        this.loading = true;
        google.script.run.withSuccessHandler(this.success).withFailureHandler(this.failure).run(this.title);
      },
      success: function(data) {
        this.loading = false;
        this.manHourData = data[0];
        this.colors = data[1];
      },
      failure: function() {
        console.log(404);
      }
    }
  });
</script>